body {
display: flex;
flex-direction: row;
}

.sidebar { 
	flex: 0 0 150px;
	background-color: pink; 
    line-height: 6em;
    padding-left: 1em;
}
.content { 
	flex: 1;
	background-color: ivory; 
}

div {
 
}


