
html,body{
	background-color: #005CAF;
	height: 100%;
    margin:0%;;
}


#step1{
	width:60%;
	height:30%;
	left:30%;
	top:40%;
	position: absolute;
    align-items: center;
    display: flex;
}

.roundsquare{
	  width: 80px;
      height: 80px;
      background: transparent;
      border-radius: 15px;
      border: solid white;
}

p.letterA {
	 text-align: center;
	color: white;
	font-family: arial;
	 font-size: 40px;
	  display: inline-block;
}
p.letterL{
	text-align: center;
	color: white;
	 font-family: arial;
	 font-size: 40px;
 display: inline-block;

}
.dots{
     
      width: 30%;
      height: 50%;
      
}

.dot{ 
	position: relative;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: white;
       display: inline-block;
      align-items: center;
}
.dot2{
	  position: relative;
	  border-radius: 50%;
      width: 15px;
    
      height: 15px;
      background: white;
       display: inline-block;

}
.dot3{
	  border-radius: 50%;
      width: 15px;
      height: 15px;
      background: white;
       display: inline-block;

}
.dot4{ 
	  border-radius: 50%;
      width: 15px;
      height: 15px;
      background: white;
       display: inline-block;

}
.roundsquare2{
	  position: absolute;
	  right:40%;
	  width: 80px;
      height: 80px;
      background: transparent;
      border-radius: 15px;
      border: solid white;
}
.text{
	 position: absolute;
	 color: white;
	 bottom:5%;
	 font-size: 20px;
     font-family: arial;
	 align-content: center;
	  display: inline-block;
}

#container{
	width: 100%;
	height:100%;
}
.circle {
     position: relative;
      width: 50px;
      height: 50px;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 40px white, inset 0 0 20px white;
      -webkit-animation: pulse 2s linear 1s infinite;
      display: inline-block;
    }
.rhombus{
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom: 30px solid white;
      position: relative;
      top: 20px;
      display: inline-block;

}
.rhombus:after {
	content: '';
      position: absolute;
      left: -20px;
      top: 30px;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top: 30px solid white;
       display: inline-block;
}

.diamond {
      border-style: solid;
      border-color: transparent transparent white transparent;
      border-width: 0 25px 25px 25px;
      height: 0;
      width: 50px;
      box-sizing: content-box;
      position: relative;
      margin: 20px 0 50px 0;
      display: inline-block;
    }
.diamond:after {
      content: "";
      position: absolute;
      top: 25px;
      left: -25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: white transparent transparent transparent;
      border-width: 70px 50px 0 50px;
       display: inline-block;
    }


    .star {
      margin: 50px 0;
      position: relative;
      display: block;
      color: red;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
       box-shadow: 0 0 40px 0 0 0 white;
        display: inline-block;
    }
    .star:before {
      border-bottom: 80px solid white;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
       display: inline-block;
    }
    .star:after {
      position: absolute;
      display: block;
      color: red;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
       display: inline-block;
    }



 .lunar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 15px 15px 0 0 white;
       display: inline-block;
    }


.heart {
      position: relative;
      width: 100px;
      height: 90px;
       display: inline-block;
    }
    .heart:before,
    .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: white;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
       display: inline-block;
    }
    .heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
       display: inline-block;
    }


       .hexagon {
      width: 100px;
      height: 55px;
      background: white;
      position: relative;
      box-shadow: 0 0 40px white, inset 0 0 20px white;
      -webkit-animation: pulse 2s linear 1s infinite;
       display: inline-block;
    }
    .hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid white;
       display: inline-block;

    }
    .hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid white;
       display: inline-block;

    }

   .square {
      width: 50px;
      height: 50px;
      background: white;
          
       display: inline-block;
    }
  

    .burst-8 {
      background: white;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      transform: rotate(20deg);
       display: inline-block;
    }
    .burst-8:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      background: white;
      transform: rotate(135deg);
       display: inline-block;
    }
  